body{
 font-family: Arial;
 background:#f5f7fb;
 margin:0;
}

.login-container{

 width:350px;
 margin:120px auto;

 padding:30px;

 background:white;

 border-radius:8px;

 box-shadow:0 4px 10px rgba(0,0,0,0.1);

 text-align:center;

}

.login-container input{

 width:100%;
 padding:10px;

 margin:10px 0;

 border:1px solid #ccc;

}

.login-container button{

 width:100%;
 padding:10px;

 background:#2c7be5;

 color:white;

 border:none;

 cursor:pointer;

}